<body class = "login-body">

  <div class = "container-login">
    <div class = "form-body">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        
        <div class="field">
          <p class ='label-forms'>Email</p>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "inputfields", placeholder: "Email..." %>
        </div>

        <div class="field">
          <p class ='label-forms'>Username:</p>
          <%= f.text_field :username, autofocus: true, class: "inputfields", placeholder: "Username...", value: 'daniel' %>
        </div>


        <div class="field">
          <p class ='label-forms'>Password</p>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: "inputfields", placeholder: "Password..." %>
        </div>

        <div class="field">
          <p class ='label-forms'>Password Confirmation</p>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "inputfields", placeholder: "Confirm password..." %>
        </div>

        <div class = "errors">
          <%= render "devise/shared/error_messages", resource: resource, class: "error" %>
        </div>

          <div class="actions">
          <%= f.submit "Sign up", class:'login-button' %>
        </div>
      <% end %>
    </div>

    <div class = "login-links">
      <%- if controller_name != 'sessions' %>
        Already have an account? <%= link_to "Log in", new_session_path(resource_name) %><br />
      <% end %>
    </div>
  </div>
</body>
